<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}
</style>
</head>
<body>
  {%load mathfilters %}
<h2>Comparison Table</h2>
<script>    
    if(typeof window.history.pushState == 'function') {
        window.history.pushState({}, "Hide", "/compare");
    }
</script>
<table>
  <tr>
    <th style="width:50%">Features</th>
    <th>Product 1</th>
    <th>Product 2</th>
  </tr>
  
  {%for item in comp%}
  {% if forloop.counter|mod:2 != 0 %}
   
  {% endif %}
    <td>{{item}}</td>

  {% if forloop.counter|mod:3 == 0 %}
  </tr>
  {% endif %}

  {%endfor%}
  
</table>

</body>
</html>
