<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/css/drop.css">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="assets/css/templatemo-finance-business.css">
<link rel="stylesheet" href="assets/css/owl.css">
</head>
<body>

<h2>Hoverable Dropdown</h2>
<p>Move the mouse over the button to open the dropdown menu.</p>

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2> <em>Choose From </em></h2>
          <span>Buy a right machine for yourself according to your budget and preferences</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <div class="dropdown">
            <button class="dropbtn">
          <a href="{%url 'desktop'%}"></a>
          <img src="assets/images/service_01.gif" alt="">
          <div class="down-content">
            <h4><font color="#B8C236">Laptops</font></h4></a>
            <p></p>          
          </div>
        </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item"><a href="{%url 'desktop'%}">
          <img src="assets/images/service_02.gif" alt="">
          <div class="down-content">
            <h4><font color="#B8C236">Desktop</font></h4></a>
            <p></p>
           
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item"><a href="https://www.dell.com/en-in/gaming/alienware">
          <img src="assets/images/service_03.gif" alt="">
          <div class="down-content">
            <h4><font color="#B8C236">Console</font></h4></a>
            <p></p>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
