<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select items for comparison</title>
</head>
<body>
<div class="container text-center">   <h1> Select items for comparison</h1>
<form action={%  url 'compare' %}>
  <h4>select product 1</h4> 
  <select name="a" id="">
        <option value="1">70k</option>
        <option value="2">80k</option>
        <option value="3">90k</option>
        <option value="4">1L</option>       
    </select>
    <h4>select product 2</h4> 
    <select name="b" id="">
      <option value="1">70k</option>
      <option value="2">80k</option>
      <option value="3">90k</option>
      <option value="4">1L</option>       
  </select>
<br><br>
    <input type="submit" class="btn btn-outline-dark" value="Compare">
</form>
</div> 
</body>
</html>